# Android
src/AFFaceDetect/*.iml
src/AFFaceDetect/.gradle
src/AFFaceDetect/local.properties
src/AFFaceDetect/.idea/workspace.xml
src/AFFaceDetect/.idea/libraries
src/AFFaceDetect/build
src/AFFaceDetect/captures
src/AFFaceDetect/.externalNativeBuild

# Azure Function